/* Fonts */
/* jost-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jost-v19-latin-regular.woff2') format('woff2'); 
}
/* jost-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/jost-v19-latin-800.woff2') format('woff2'); 
}
/* Main CSS */
body {
    margin: 0;
    font-family: 'Jost', sans-serif;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: rgb(79,79,79);
    padding-top: 1rem;
    transition: transform 0.3s ease-in-out;
    z-index: 1040;
    text-align: center;
}
.sidebar a {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 0.75em 1rem;
}
.sidebar a:hover {
    background-color: #495057;
    color: #fff;
}
.sidebar.collapsed {
    transform: translateX(-100%);
}
#menu img {
    max-width:100px;
    margin-bottom:1rem;
}
#menu {
    padding-top:2.5rem;
    padding-bottom:2.5rem;
    color:white;
}
#menu h3 {
    font-weight:bold; 
    color:white;
    padding:0;
    margin:0;
}
#menu .iconos ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu .iconos ul li {
    margin: 5px 5px;
}
a.icon-link {
    display: inline-flex;
    color:#5271FF;          
    justify-content: center;       
    align-items: center;           
    border-radius: 50%;
    height:25px;
    width:25px;
    text-decoration: none;
    font-size:16px;
    border:solid 1px gray;
    padding:16px;
}
a.icon-link:hover {
    background-color: #5271FF;
    color: white;
}
a.icon-link svg {
    display: block;       
}
.lineadivisora {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
}
.main-content {
    margin-left: 250px;
    padding: 2rem;
    transition: margin-left 0.3s ease-in-out;
    background-color:rgb(41,41,41);
    color:white;
}
.main-content.full-width {
    margin-left: 0;
}
.toggle-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1050;
    display: none;
}
@media (max-width: 768px) {
    .sidebar {
    transform: translateX(-100%);
    }

    .sidebar.show {
    transform: translateX(0);
    }

    .main-content {
    margin-left: 0;
    }

    .toggle-btn {
    display: block;
    }
}